@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

@theme {
  --breakpoint-xs: 24rem;
}

* {
  box-sizing: border-box;
}


html, body {
  margin: 0;
  padding: 0;
  background-color: #202023;
  transition: background-color 0.3s ease, color 0.3s ease;
}

html.dark body {
  background-color: #f0e7db;
}


#root {
  display: flex;
  flex-direction: column;
  min-height: 100dvh;
}

.embla {
  max-width: 48rem;
  margin: auto;
  --slide-height: 19rem;
  --slide-spacing: 0.5rem;
  --slide-size: 70%;
}

.embla__container {
  display: flex;
  touch-action: pan-y pinch-zoom;
  margin-left: calc(var(--slide-spacing) * -1);
}
.embla__slide {
  transform: translate3d(0, 0, 0);
  flex: 0 0 var(--slide-size);
  min-width: 422px;
  padding-left: var(--slide-spacing);
}
.embla__slide__img {
  border-radius: 1.8rem;
  display: block;
  height: var(--slide-height);
  width: 100%;
  object-fit: cover;
}

@media (max-width: 420px) {
  .embla {
    max-width: 100%;
    --slide-size: 90%;
  }
  .embla__slide {
    min-width: auto;
    flex: 0 0 var(--slide-size);
  }
}

.embla__slide {
  transition: opacity 0.2s ease-in-out;
}
.embla__slide:not(.is-snapped) {
  opacity: 0.16;
}
